container {
    flex: 1;
    background-color: "#fff";
    align-items: "center";
    justify-content: "center";
}
 
image {
    margin-bottom: 40;
}
 
inputView {
    background-color: "#FFC0CB";
    border-radius: 30;
    width: "70%";
    height: 45;
    margin-bottom: 20;
    align-items: "center";
}

TextInput {
    height: 50;
    flex: 1;
    padding: 10;
    margin-left: 20;
  }
 
forgot_button {
    height: 30;
    margin-bottom: 30;
 }
 
loginBtn {
    width: "80%";
    border-radius: 25;
    height: 50;
    align-items: "center";
    justify-content: "center";
    margin-top: 40;
    background-color: "#FF1493";
  }